<p>Cher(e) {{ user.username }},</p>
<p>Veuillez cliquer ci-dessous pour réinitialiser votre mot de passe</p>
<p>
    <a href="{{ url }}">{{ url}}</a>
</p>

<p>Si vous n'avez pas demandé cet e-mail, vous pouvez l'ignorer sans risque.</p>
